# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual envs
.venv/
env/
venv/

# Git
.git/
.gitignore

# IDE/editor
*.swp
.vscode/
.idea/

# Data, logs, mlruns, etc.
data/
logs/
mlruns/

# OS files
.DS_Store
Thumbs.db

# python specific
.mypy_cache/
.__pycache__/
